.card-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 12px;
    background-color: var(--darkBG);
    padding: 2rem;
    overflow-x: scroll;
}

.column-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
    min-width: 800px;
}


@media screen and (max-width:550px) {
    .card-container {
        padding: .5rem;
        width: 90vw;
    }

    .column-container {
        min-width: 700px;
    }
}