.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--lightBG);
    padding: 16px;
    color: var(--white);
    border-radius: 5px;
}

.stats {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    justify-content: flex-start;
}

.name:hover {
    cursor: pointer;
    color:var(--honey)
}

.followers:hover {
    cursor: pointer;
    color:var(--honey)
}