.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3C3744;
    padding: 16px;
    
    color: #FFFFFF;
    border-radius: 5px;
}

.stats {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}